<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoaHub</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div th:replace="~{layout/layout :: layout(
        css = ~{::pageCss},
        content = ~{::mainContent},
        script = ~{::pageScript}
    )}">
    <th:block th:fragment="pageCss">
        <link rel="stylesheet" href="/css/index.css">
    </th:block>
    <th:block th:fragment="mainContent">
        <div class="main-content">
<!--            <label for="search-Character">-->
<!--                <input type="text" id="search-Character"><button id="search-Character-btn">검색</button>-->
<!--            </label>-->
<!--            <button id="btn-signUp">회원가입</button>-->
        </div>
    </th:block>
    <th:block th:fragment="pageScript">
<!--        <script src="/js/character/character.js"></script>-->
    </th:block>
</div>
</body>
</html>