
.login-container {
    background-color: #252525;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    width: 300px;
    margin: 100px auto;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #f0f0f0;
}

.form-group > input[type="text"],
.form-group > input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #3a3a3a;
    color: #f0f0f0;
    border: 1px solid #555;
    border-radius: 3px;
    box-sizing: border-box;
}

button:hover {
    background-color: #777;
}

#btn-login {
    display: block;
    padding: 10px;
    background-color: #555;
    width: 100%;
    color: #f0f0f0;
    border: 1px solid #777;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;

}


#btn-signUp:hover {
    background-color: #777;
}