@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
}
a{
    text-decoration: none;
}
.character-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    overflow: hidden;
    text-align: center;
}

.card-header {
    background-color: #343a40;
    color: white;
    padding: 20px;
}

.card-header .server-name {
    font-size: 14px;
    color: #adb5bd;
}

.card-header .character-name {
    font-size: 28px;
    font-weight: 700;
    color:white;
    margin: 5px 0 0 0;
}

.card-body {
    padding: 25px;
    color: #495057;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    text-align: left;
}

.info-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
}

.info-item .label {
    font-size: 13px;
    color: #6c757d;
    display: block;
    margin-bottom: 5px;
}

.info-item .value {
    font-size: 18px;
    font-weight: 700;
    color: #212529;
}

.no-result {
    color: #6c757d;
}