lehis87792@hudisk.com

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lost Ark Character Details</title>
</head>
<body>
<div th:replace="~{layout/layout :: layout(
        css = ~{::pageCss},
        content = ~{::mainContent},
        script = ~{::pageScript}
    )}">
    <th:block th:fragment="pageCss">
        <link rel="stylesheet" href="/css/character/searchCharacter.css">
    </th:block>
    <th:block th:fragment="mainContent">
        <div class="container">
            <div class="gotoExpedition">
                <button id="btn-expedition">원정대</button>
            </div>
            <div class="layout-wrapper">
                <div class="left-column">
                    <!-- Character Profiles -->
                    <div class="section profiles" th:if="${characterData.characterProfiles != null}"
                         th:style="'background-image: url(' + ${characterData.characterProfiles.characterImage} + ');'">
                        <div class="profile-info">
                            <!--        <h2>캐릭터 프로필</h2>-->
                            <p><strong>이름:</strong> <span th:text="${characterData.characterProfiles.characterName}"
                                                          class="character-name"></span></p>
                            <p><strong>서버:</strong> <span
                                    th:text="${characterData.characterProfiles.serverName}"></span></p>
                            <p><strong>클래스:</strong> <span
                                    th:text="${characterData.characterProfiles.characterClassName}"></span></p>
                            <p><strong>레벨:</strong> <span
                                    th:text="${characterData.characterProfiles.characterLevel}"></span>
                            </p>
                            <p><strong>아이템 레벨:</strong> <span
                                    th:text="${characterData.characterProfiles.itemAvgLevel}"></span>
                            </p>
                        </div>
                    </div>
                    <!-- Character Ark Passive -->
                    <div class="section arkPassive" th:if="${characterData.characterArkPassive != null}">
                        <div th:if="${characterData.characterArkPassive.points != null and !characterData.characterArkPassive.points.empty}">
                            <ul>
                                <li th:each="point : ${characterData.characterArkPassive.points}">
                                    <strong><span th:text="${point.name}"></span>:</strong> <span
                                        th:text="${point.value}"></span>
                                    <p><span th:text="${point.description}"></span></p>
                                    <div class="tooltip-content" th:if="${point.tooltip != null}">
                                        <div th:utext="${point.tooltip.getElementHtml('Element_005')}"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <!-- Character Equipment -->
                    <div class="section equipment"
                         th:if="${characterData.characterEquipment != null and !characterData.characterEquipment.empty}">
                        <div class="equipment-columns">
                            <!-- Left Column: Armor (6 items) -->
                            <div class="equipment-left">
                                <ul class="equipment-list">
                                    <li class="equipment-item" th:each="item : ${characterData.characterEquipment}"
                                        th:if="${item.type == '무기' or item.type == '투구' or item.type == '어깨' or item.type == '상의' or item.type == '하의' or item.type == '장갑'}">
                                        <div class="tooltip-content">
                                            <div class="equipment-area">
                                                <div class="item-img">
                                                    <img th:src="${item.icon}" alt="아이템 아이콘"/>
                                                    <th:block
                                                            th:with="quality=${item.tooltip.getQualityValue().isEmpty() ? 0 : T(java.lang.Integer).parseInt(item.tooltip.getQualityValue())}">
                                                        <div class="item-quality"
                                                             th:switch="${quality == 100 ? 100 : quality / 10}"
                                                             th:style="'border-color: ' +
                                                                  (${quality == 100} ? 'gold' :
                                                                  (${quality >= 90} ? 'purple' :
                                                                  (${quality >= 70} ? 'blue' :
                                                                  (${quality >= 50} ? 'green' : 'yellow'))))">
                                                        <span th:case="100" th:text="${quality}"
                                                              style="color: gold;"></span>
                                                            <span th:case="9" th:text="${quality}"
                                                                  style="color: purple;"></span>
                                                            <span th:case="7,8" th:text="${quality}"
                                                                  style="color: blue;"></span>
                                                            <span th:case="5,6" th:text="${quality}"
                                                                  style="color: green;"></span>
                                                            <span th:case="*" th:text="${quality}"
                                                                  style="color: yellow;"></span>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <div class="item-description">
                                                <span th:switch="${item.grade}">
                                                    <span th:case="'고대'" th:text="${item.grade}"
                                                          style="color: #E3C7A1;"></span>
                                                    <span th:case="'유물'" th:text="${item.grade}"
                                                          style="color: #FA5D00;"></span>
                                                    <span th:case="'전설'" th:text="${item.grade}"
                                                          style="color: #F99200;"></span>
                                                    <span th:case="'영웅'" th:text="${item.grade}"
                                                          style="color: #8500b2;"></span>
                                                    <span th:case="'희귀'" th:text="${item.grade}"
                                                          style="color: #0091cc;"></span>
                                                    <span th:case="'고급'" th:text="${item.grade}"
                                                          style="color: #91FE02;"></span>
                                                </span>
                                                    <strong class="info-margin">
                                                        <div class="dummy">
                                                            강화 :<span
                                                                th:text="${#strings.substring(item.name,1,3)}"></span>
                                                        </div>
                                                        <div class="dummy">
                                                            상급재련 :<span
                                                                th:utext="${item.tooltip.getAdvancedHoningLevel()}"></span>
                                                        </div>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        <div class="tooltip-content" th:if="${item.tooltip != null}">-->
                                        <!--                                            <div th:utext="${item.tooltip.getElementHtml('Element_005')}"></div>-->
                                        <!--                                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_004', 'Element_000')}"></div>-->
                                        <!--                                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_004', 'Element_001')}"></div>-->
                                        <!--                                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_006', 'Element_000')}"></div>-->
                                        <!--                                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_006', 'Element_001')}"></div>-->
                                        <!--                                        </div>-->
                                    </li>
                                </ul>
                            </div>
                            <!-- Right Column: Accessories (7 items) -->
                            <div class="equipment-right">
                                <ul class="accessory-list">
                                    <li class="accessory-item" th:each="item : ${characterData.characterEquipment}"
                                        th:if="${item.type == '목걸이' or item.type == '귀걸이' or item.type == '반지' or item.type == '팔찌' or item.type == '어빌리티 스톤'}">
                                        <div class="tooltip-content" th:if="${item.tooltip != null}">
                                            <div class="equipment-area">
                                                <div class="item-img">
                                                    <img th:src="${item.icon}" alt="아이템 아이콘"/>
                                                </div>
                                                <div th:utext="${item.tooltip.getElementHtml('Element_005')}"></div>
                                                <!--                                                <div th:utext="${item.tooltip.getNestedElementHtml('Element_004', 'Element_001')}"></div>-->
                                                <th:block
                                                        th:if="${item.type == '목걸이' or item.type == '귀걸이' or item.type == '반지'}">
                                                    <div th:utext="${item.tooltip.getNestedElementHtml('Element_006', 'Element_001')}"></div>
                                                </th:block>
                                                <div th:utext="${item.tooltip.extractEngravings()}"></div>
                                            </div>
                                            <!--                                            <div class="item-description">-->
                                            <!--                                                <span th:switch="${item.grade}">-->
                                            <!--                                                    <span th:case="'고대'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #E3C7A1;"></span>-->
                                            <!--                                                    <span th:case="'유물'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #FA5D00;"></span>-->
                                            <!--                                                    <span th:case="'전설'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #F99200;"></span>-->
                                            <!--                                                    <span th:case="'영웅'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #8500b2;"></span>-->
                                            <!--                                                    <span th:case="'희귀'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #0091cc;"></span>-->
                                            <!--                                                    <span th:case="'고급'" th:text="${item.grade}"-->
                                            <!--                                                          style="color: #91FE02;"></span>-->
                                            <!--                                                </span>-->
                                            <!--                                                <strong><span th:text="${item.name}"></span></strong>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="pageScript">
        <script type="module" src="/js/character/searchCharacter.js"></script>
    </th:block>
</div>
</body>
</html>