<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lost Ark Character Details</title>
</head>
<body>
<div th:replace="~{layout/layout :: layout(
        css = ~{::pageCss},
        content = ~{::mainContent},
        script = ~{::pageScript}
    )}">
    <th:block th:fragment="pageCss">
        <link rel="stylesheet" href="/css/character/searchCharacter.css">
    </th:block>
    <th:block th:fragment="mainContent">
        <div class="container">
            <h1>Lost Ark Character Details</h1>

            <!-- Character Profiles -->
            <div class="section" th:if="${characterData.characterProfiles != null}">
                <h2>캐릭터 프로필</h2>
                <img class="profile-img" th:if="${characterData.characterProfiles.characterImage != null}"
                     th:src="${characterData.characterProfiles.characterImage}" alt="캐릭터 이미지"/>
                <p><strong>이름:</strong> <span th:text="${characterData.characterProfiles.characterName}"
                                              class="character-name"></span></p>
                <p><strong>서버:</strong> <span th:text="${characterData.characterProfiles.serverName}"></span></p>
                <p><strong>클래스:</strong> <span
                        th:text="${characterData.characterProfiles.characterClassName}"></span></p>
                <p><strong>레벨:</strong> <span th:text="${characterData.characterProfiles.characterLevel}"></span>
                </p>
                <p><strong>아이템 레벨:</strong> <span th:text="${characterData.characterProfiles.itemAvgLevel}"></span>
                </p>
            </div>
            <div class="gotoExpedition">
                <button onClick="goExpedition();">원정대</button>
            </div>

            <!-- Character Equipment -->
            <div class="section"
                 th:if="${characterData.characterEquipment != null and !characterData.characterEquipment.empty}">
                <h2>장비 정보</h2>
                <ul>
                    <li th:each="item : ${characterData.characterEquipment}">
                        <img th:src="${item.icon}" alt="아이템 아이콘"/>
                        <span th:switch="${item.grade}">
                    <span th:case="'고대'" th:text="${item.grade}" style="color: #E3C7A1;"></span>
                    <span th:case="'유물'" th:text="${item.grade}" style="color: #FA5D00;"></span>
                    <span th:case="'전설'" th:text="${item.grade}" style="color: #F99200;"></span>
                    <span th:case="'영웅'" th:text="${item.grade}" style="color: #8500b2;"></span>
                    <span th:case="'희귀'" th:text="${item.grade}" style="color: #0091cc;"></span>
                    <span th:case="'고급'" th:text="${item.grade}" style="color: #91FE02;"></span>
                    <span th:case="*'" th:text="${item.grade}" style="color: #cccccc;"></span>
                </span>
                        <strong><span th:text="${item.name}"></span></strong>
                        <div class="tooltip-content" th:if="${item.tooltip != null}">
                            <!-- 장비 상급 재련 -->
                            <div th:utext="${item.tooltip.getElementHtml('Element_005')}"
                                 style="font-size:14px;"></div>
                            <!--  장비 제외 - 기본 , 연마 효과  -->
                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_004', 'Element_000')}"></div>
                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_004', 'Element_001')}"></div>
                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_006', 'Element_000')}"></div>
                            <div th:utext="${item.tooltip.getNestedElementHtml('Element_006', 'Element_001')}"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Character Avatars -->
            <div class="section"
                 th:if="${characterData.characterAvatars != null and !characterData.characterAvatars.empty}">
                <h2>아바타 정보</h2>
                <ul>
                    <li th:each="avatar : ${characterData.characterAvatars}">
                        <img th:src="${avatar.icon}" alt="아바타 아이콘"/>
                        <strong><span th:text="${avatar.name}"></span></strong>
                        <!--                (<span th:text="${avatar.grade}"></span>)-->
                        <!--                <p>타입: <span th:text="${avatar.type}"></span></p>-->
                        <!--                <div class="tooltip-content" th:if="${avatar.tooltip != null}">-->
                        <!--                    <div th:utext="${avatar.tooltip.getElementHtml('Element_005')}"></div>-->
                        <!--                </div>-->
                    </li>
                </ul>
            </div>

            <!-- Character Engravings -->
            <div class="section" th:if="${characterData.characterEngravings != null}">
                <h2>각인 정보</h2>
                <div>
                    <h3>활성 각인 효과</h3>
                    <ul>
                        <li th:each="effect : ${characterData.characterEngravings.arkPassiveEffects}">
                            <span th:utext="${effect.name}"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Character Cards -->
            <div class="section" th:if="${characterData.characterCards != null}">
                <h2>카드 정보</h2>
                <div th:if="${characterData.characterCards.cards != null and !characterData.characterCards.cards.empty}">
                    <h3>장착 카드</h3>
                    <ul style="display: flex; flex-wrap: wrap;">
                        <li th:each="card : ${characterData.characterCards.cards}">
                            <img th:src="${card.icon}" alt="카드 아이콘"/>
                            <strong><span th:text="${card.name}"></span></strong>
                            <p>각성: <span th:text="${card.awakeCount}"></span> / <span
                                    th:text="${card.awakeTotal}"></span></p>
                            <p>등급: <span th:text="${card.grade}"></span></p>
                            <div class="tooltip-content" th:if="${card.tooltip != null}">
                                <div th:utext="${card.tooltip.getElementHtml('Element_005')}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:if="${characterData.characterCards.effects != null and !characterData.characterCards.effects.empty}">
                    <h3>카드 세트 효과</h3>
                    <ul>
                        <li th:each="effect : ${characterData.characterCards.effects}">
                            <div th:if="${effect.items != null and !effect.items.empty}">
                                <ul>
                                    <li th:each="item : ${effect.items}">
                                        <strong><span th:text="${item.name}"></span>:</strong> <span
                                            th:utext="${item.description}"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Character Gems -->
            <div class="section" th:if="${characterData.characterGems != null}">
                <h2>보석 정보</h2>
                <div th:if="${characterData.characterGems.gems != null and !characterData.characterGems.gems.empty}">
                    <h3>장착 보석 및 효과</h3>
                    <ul>
                        <li th:each="gem : ${characterData.characterGems.gems}">
                            <!-- 1. 보석 정보 우선 표시 -->
                            <img th:src="${gem.icon}" alt="보석 아이콘"
                                 style="width: 40px; height: 40px; vertical-align: middle;"/>
                            <strong><span th:utext="${gem.name}"></span></strong> (Lv.<span
                                th:text="${gem.level}"></span>)

                            <!-- 2. 스킬 리스트를 전부 반복하면서 -->
                            <th:block th:each="effect : ${characterData.characterGems.effects.skills}">
                                <!-- 3. 보석의 slot과 스킬의 gemSlot이 일치하는 경우에만 div를 표시 -->
                                <div th:if="${effect.gemSlot == gem.slot}"
                                     style="padding-left: 50px; margin-top: 5px;">
                                    <img th:src="${effect.icon}" alt="스킬 아이콘"
                                         style="width: 24px; height: 24px; vertical-align: middle;"/>
                                    <strong><span th:utext="${effect.name}"></span></strong>
                                    <p style="margin: 2px 0 0 28px;" th:utext="${effect.description[0]}"></p>
                                </div>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Character Combat Skills -->
            <div class="section"
                 th:if="${characterData.characterCombatSkill != null}">
                <h2>전투 스킬 정보</h2>
                <ul>
                    <li th:each="skill : ${characterData.characterCombatSkill}"
                        th:if="${!skill.tripods.?[isSelected].isEmpty()}">
                        <img th:src="${skill.icon}" alt="스킬 아이콘"/>
                        <strong><span th:text="${skill.name}"></span></strong> (Lv.<span
                            th:text="${skill.level}"></span>)
                        <div class="tooltip-content" th:if="${skill.tooltip != null}">
                            <!--                    <div th:utext="${skill.tooltip.getElementHtml('Element_005')}"></div>-->
                            <div class="tripods">
                                <th:block th:each="tripod : ${skill.tripods}">
                                    <div th:if="${tripod.isSelected}" class="tripod"
                                         style="display: flex; align-items: center; margin-bottom: 5px;">
                                        <img th:src="${tripod.icon}" alt="트라이포드 아이콘"
                                             style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px; border-radius: 4px;">
                                        <span th:utext="${tripod.name}" style="font-size: 14px;"></span>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <!-- Character Collectibles -->
            <div class="section"
                 th:if="${characterData.characterCollectibles != null and !characterData.characterCollectibles.empty}">
                <h2>수집품 정보</h2>
                <ul>
                    <li th:each="collectible : ${characterData.characterCollectibles}">
                        <img th:src="${collectible.icon}" alt="수집품 아이콘"/>
                        <strong><span th:text="${collectible.type}"></span>:</strong> <span
                            th:text="${collectible.point}"></span> / <span
                            th:text="${collectible.maxPoint}"></span>
                        <!--                <div th:if="${collectible.collectiblePoints != null and !collectible.collectiblePoints.empty}">-->
                        <!--                    <h4>세부 수집 포인트</h4>-->
                        <!--                    <ul>-->
                        <!--                        <li th:each="cp : ${collectible.collectiblePoints}">-->
                        <!--                            <strong><span th:text="${cp.pointName}"></span>:</strong> <span-->
                        <!--                                th:text="${cp.point}"></span> / <span th:text="${cp.maxPoint}"></span>-->
                        <!--                        </li>-->
                        <!--                    </ul>-->
                        <!--                </div>-->
                    </li>
                </ul>
            </div>

            <!-- Character Ark Passive -->
            <div class="section" th:if="${characterData.characterArkPassive != null}">
                <h2>아크 패시브 정보</h2>
                <p><strong>타이틀:</strong> <span th:text="${characterData.characterArkPassive.title}"></span></p>
                <div th:if="${characterData.characterArkPassive.points != null and !characterData.characterArkPassive.points.empty}">
                    <h3>포인트</h3>
                    <ul>
                        <li th:each="point : ${characterData.characterArkPassive.points}">
                            <strong><span th:text="${point.name}"></span>:</strong> <span
                                th:text="${point.value}"></span>
                            <p><span th:text="${point.description}"></span></p>
                            <div class="tooltip-content" th:if="${point.tooltip != null}">
                                <div th:utext="${point.tooltip.getElementHtml('Element_005')}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:if="${characterData.characterArkPassive.effects != null and !characterData.characterArkPassive.effects.empty}">
                    <h3>효과</h3>
                    <ul>
                        <li th:each="effect : ${characterData.characterArkPassive.effects}">
                            <img th:src="${effect.icon}" alt="효과 아이콘"/>
                            <strong><span th:text="${effect.name}"></span>:</strong>
                            <p><span th:utext="${effect.description}"></span></p>
                            <div class="tooltip-content" th:if="${effect.toolTip != null}">
                                <div th:utext="${effect.toolTip.getElementHtml('Element_005')}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Character Ark Grid -->
            <div class="section" th:if="${characterData.characterArkGrid != null}">
                <h2>아크 그리드 정보</h2>
                <div th:if="${characterData.characterArkGrid.slots != null and !characterData.characterArkGrid.slots.empty}">
                    <h3>슬롯</h3>
                    <ul>
                        <li th:each="slot : ${characterData.characterArkGrid.slots}">
                            <img th:src="${slot.icon}" alt="슬롯 아이콘"/>
                            <strong><span th:text="${slot.name}"></span></strong> (포인트: <span
                                th:text="${slot.point}"></span>)
                            <p>등급: <span th:text="${slot.grade}"></span></p>
                            <div class="tooltip-content" th:if="${slot.tooltip != null}">
                                <div th:utext="${slot.tooltip.getElementHtml('Element_005')}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:if="${characterData.characterArkGrid.effects != null and !characterData.characterArkGrid.effects.empty}">
                    <h3>효과</h3>
                    <ul>
                        <li th:each="effect : ${characterData.characterArkGrid.effects}">
                            <strong><span th:text="${effect.name}"></span></strong> (레벨: <span
                                th:text="${effect.level}"></span>)
                            <div class="tooltip-content" th:if="${effect.tooltip != null}"
                                 th:utext="${effect.tooltip.getElementHtml('Element_005')}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--    &lt;!&ndash; Character Colosseum &ndash;&gt;-->
            <!--    <div class="section" th:if="${characterData.characterColosseum != null}">-->
            <!--        <h2>증명의 전장 정보</h2>-->
            <!--        <p><strong>랭크:</strong> <span th:text="${characterData.characterColosseum.rank}"></span></p>-->
            <!--        <p><strong>이전 랭크:</strong> <span th:text="${characterData.characterColosseum.preRank}"></span></p>-->
            <!--        <p><strong>경험치:</strong> <span th:text="${characterData.characterColosseum.exp}"></span></p>-->
            <!--        <div th:if="${characterData.characterColosseum.colosseums != null and !characterData.characterColosseum.colosseums.empty}">-->
            <!--            <h3>시즌별 전적</h3>-->
            <!--            <ul>-->
            <!--                <li th:each="season : ${characterData.characterColosseum.colosseums}">-->
            <!--                    <strong><span th:text="${season.seasonName}"></span></strong>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->

        </div>
    </th:block>
    <th:block th:fragment="pageScript">
        <script>
            function goExpedition() {
                const characterName = document.querySelector('.character-name').textContent;
                window.location.href = `/character/allExpedition/${characterName}`;
            }
        </script>
    </th:block>
</div>
</body>
</html>