<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/layout/header.css">
</head>
<body>
    <div th:fragment="unified-header-fragment" class="unified-header-area">
    <header class="header" th:fragment="header">
        <div class="logo">
            <a href="/">LoaHub</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="검색할 캐릭터를 입력하세요" id="search-Character">
            <button type="submit" class="search-button" id="search-Character-btn">검색</button>
        </div>
        <div class="login">
            <a href="/users/login">로그인</a>
            <a href="/users/logout">로그아웃</a>
        </div>
    </header>

    <!-- Main Navigation -->
    <nav class="nav-bar" th:fragment="nav">
        <ul>
            <li data-nav-section="simulator">
                <a href="/character/party-simulator">시뮬레이터</a>
            </li>
            <li data-nav-section="info">
                <a href="/character/class">정보</a>
            </li>
        </ul>
    </nav>

    <!-- Secondary Navigation Container -->
    <div class="secondary-nav-container" th:fragment="secondary-nav">
        <div class="secondary-nav" data-nav-section="simulator">
            <a href="/character/party-simulator">파티 시뮬레이터</a>
        </div>
        <div class="secondary-nav" data-nav-section="info">
            <a href="/character/class">클래스 정보</a>
        </div>
    </div>
</div>
</body>
</html>