<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/layout/header.css">
</head>
<body>
<div th:fragment="unified-header-fragment" class="unified-header-area">
    <header class="header" th:fragment="header">
        <div class="logo">
            <a href="/">LoaHub</a>
        </div>
        <div class="search-wrapper">
            <div class="search-container">
                <input type="text" placeholder="검색할 캐릭터를 입력하세요" id="search-Character">
                <button type="submit" class="search-button" id="search-Character-btn">검색</button>
            </div>
            <!-- 최근 검색어 영역 -->
            <div id="recent-search-list" class="recent-search-list" style="display: none;">
                <!-- 검색어가 자바스크립트로 동적 추가됩니다 -->
            </div>
        </div>
        <div class="login">
            <!-- 로그인하지 않은 경우 -->
            <th:block sec:authorize="isAnonymous()">
                <a href="/users/login">로그인</a>
            </th:block>
            
            <!-- 로그인한 경우 -->
            <th:block sec:authorize="isAuthenticated()">
                <span class="user-info" sec:authentication="name" style="margin-right: 10px; color: #fff;">사용자</span>님
                <a href="/users/logout">로그아웃</a>
            </th:block>
        </div>
    </header>

    <nav class="nav-bar" th:fragment="nav">
        <ul>
            <li data-nav-section="simulator">
                <a href="/character/party-simulator">시뮬레이터</a>
            </li>
            <li data-nav-section="info">
                <a href="/character/class">정보</a>
            </li>
        </ul>
    </nav>

    <div class="secondary-nav-container" th:fragment="secondary-nav">
        <div class="secondary-nav" data-nav-section="simulator">
            <a href="/character/party-simulator">파티 시뮬레이터</a>
        </div>
        <div class="secondary-nav" data-nav-section="info">
            <a href="/character/class">시너지 정보</a>
            <a href="/market/main">경매장 정보</a>
        </div>
    </div>
</div>
</body>
</html>