<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(css, content, script)">
<head>
    <meta charset="UTF-8">
    <title>LoaHub</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <th:block th:replace="${css}"/>
</head>
<body>
<div th:replace="~{layout/header :: unified-header-fragment}"></div>

<th:block th:replace="${content}"></th:block>
<script defer src="/js/layout/header.js"></script>
<script defer src="/js/character/searchCharacter.js" ></script>
<th:block th:replace="${script}"></th:block>
</body>
</html>